<mat-toolbar>
  <h1>Movinder</h1>
</mat-toolbar>

<section>
  <mat-card [@swipe]="state" draggable="true" (dragstart)="start($event)" (touchmove)="move($event)" (touchend)="end($event)">
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      Swipe me
    </mat-card-content>
  </mat-card>
</section>

<mat-toolbar class="footer">
  <button mat-icon-button (click)="state = 'dislike'">
    <mat-icon>close</mat-icon>
  </button>
  <button mat-icon-button (click)="reset()">
    <mat-icon>restore</mat-icon>
  </button>
  <button mat-icon-button (click)="state = 'like'">
    <mat-icon>favorite</mat-icon>
  </button>
</mat-toolbar>